<html lang="en">
    <%- include('./partials/head.ejs')  %> 
    <body>

        <%- include('./partials/nav.ejs')  %> 

        <div class = "page_404">
            <p> 404 </p>
        </div>

        <div class="page-not-found">
            <p> Error: Page Not Found...</p>
        </div>
        
        <%- include('./partials/footer.ejs')  %> 

    </body>
</html>