<html lang="en">
    <%- include('./partials/head.ejs')  %> 
    <body>

        <%- include('./partials/nav.ejs')  %> 

        <div class = "about content">
            <h2>ABOUT US</h2>
             <p> A simple blog application that allows users to post blogs about what ever topic they 
                are interested in speaking on. The user can create and delete with ease due to the simple
                and effective design of the web page. The purpose of building this web app was to develop 
                basic and necessary skills and principles that are required for web development. This application many 
                fundamental tools and practices, such as Node, Express, MongoDb and Mongoose, 
                HTML/CSS, javascript and views, all wrapped up in a model-view-controller design pattern. 
                 

             </p>
        </div>

        <%- include('./partials/footer.ejs')  %> 
    </body>
</html>