<!--                                PARTIALS
    This allows us to make changes in one file instead of making changes in mulitple files. 
    This also makes the code look much cleaner and easier to read
-->

<nav> 
    <div class = "site-title">
        
        <a href="/"><h1>Blog...</h1></a>
        <p>Cian Hicks Site</p>
    </div>
     <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/about">About</a></li>
     </ul>
</nav>